.BadgeForm{
    width: 450px;
    padding: 50px;

    border-radius: 10px;
    border: 1px solid #2cd4a5
    ;
    border-width: 5px;
    border-style: inset;
}

.Submit__button{
    margin-top: 15px;
    background-color: white;
    padding: 10px 40px;
    border-radius: 5px;
    display: block;
    align-self: center;
    border: 1px solid  #3ab1cf ;
}

.Submit__button:hover{
    background-color: #3ab1cf;
    color: white;
    font-size: 1.2em;
}