.BadgeForm{
    width: 450px;
    padding: 30px;
    height: inherit;
    margin: 30px;

    border-radius: 10px;
    border: 1px solid #2cd4a5;
    border-width: 5px;
    border-style: inset;

    background-color: rgba(28, 25, 46, 0.8);

    color: white;
}

.Submit__button{
    margin-top: 15px;
    background-color: white;
    padding: 10px 40px;
    border-radius: 5px;
    display: block;
    align-self: center;
    border: 1px solid   #e42751  ;
}

.Submit__button:hover{
    background-color:  #e42751 ;
    color: white;
    /* font-size: 1.2em; */
}