.Header{
    display: flex;
    align-content: center;
    height: 60px;
    width: 100%;
    border-bottom: 1px solid rgba( 58, 177, 207, 2);
    background-color: rgba(28, 25, 46,0.9);
}

.Header img{
    margin: 12px 0 10px 20px;
    height: 30px;
}